@page
@using ContainerApp.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Deployed from Github</a>.</p>
</div>
<div>
    <p>id: @Model.Todo.id</p>
    <p>title: @Model.Todo.title</p>
    <p>user id: @Model.Todo.userId</p>
</div>
